* {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .section-1 {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0px 16px;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.header-button {
    flex: 0 0 auto;
    padding: 8px 20px;
    font-size: 16px;
}

.section-1 {
    justify-content: space-between;
    padding: 30px 16px;

}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.header-image {
    width: 400px;
    background-color: #eeeeee70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}