* {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.actual-header, 
.section-1, 
.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 0px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.actual-header{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1F2937;

}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.container-1{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #1F2937;
}

.section-1 {
    justify-content: space-between;
    padding: 30px 100px;
    height: 250px;
    width: 1000px;

}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.header-image {
    width: 400px;
    background-color: #eeeeee70;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button {
    flex: 0 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #3882F6;
    border-radius: 10px;
    border:none;
    color: #E5E7EB;
    font-weight: bold;
}

.section-2{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    height: 300px;
    flex: 1;
}

.title-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;

}

.item-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.img {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
   
}

.text {
    padding: 10px 0px;
    color: #6E6E6E;
    width: 150px;
}

.section-3 {
    background-color: #E5E7EB;
    padding: 48px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quote{
    flex-wrap: wrap;
    width: 800px;
}

.quote-text {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 150;
}

.quote-author {
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-align: right;
}

.section-4 {
    padding: 48px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.title-4 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtitle-4 {
    font-size: 16px;
    color: #F9FAF8;
}

.card {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-4-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    border: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
}

.container-4 {
    width: 1000px;

}

.footer{
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
